.advantages {
  background-color: $color_secondary;
}

.advantages__title {
  padding-top: 60px;
  padding-bottom: 40px;
  color: $color_white;

  @include sm-block {
    font-size: 30px;
    line-height: 100.02%;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 0.64fr;
  max-width: 1010px;
  margin: 0 auto;
  gap: 30px;

  @include xs-block {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.advantages__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $color_green;
  padding-bottom: 12px;
  @include sm-block {
    font-size: 20px;
    line-height: 30px;
  }
}

.advantages__discription {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color_white;

  @include sm-block {
    font-size: 16px;
    line-height: 24px;
  }
}
