.footer {
  background-color: $color_bg;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 37px;
  }
}

.footer__list-social {
  display: flex;
  gap: 2px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_secondary;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .footer__item-social {
    &:hover {
      &:nth-child(1) a {
        background: radial-gradient(
          230.93% 230.93% at 102.01% 2.03%,
          #f9ed32 0%,
          #ee2a7b 36%,
          #d22a8a 44%,
          #8b2ab2 60%,
          #1b2af0 83%,
          #002aff 88%
        );
      }

      &:nth-child(2) a {
        background: #0b84ee;
      }

      &:nth-child(3) a {
        background: #0077ff;
      }

      &:nth-child(4) a {
        background: #27a6e5;
      }
    }
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 450px;

  @include lg-block {
    gap: 250px;
  }

  @include sm-block {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
}
