.popup-menu {
  background: rgba(120, 113, 222, 0.8);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  display: none;
}

.popup-menu__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.popup-menu__item a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color_white;

  &:hover {
    color: $color_primary;
  }
}

.popup-menu__btn-closed {
  display: none;
  position: absolute;
  @include lg-block {
    display: block;
    border: none;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -350px;
      right: -550px;
      width: 24px;
      height: 1.5px;
      background-color: $color_white;
      cursor: pointer;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.popup-menu__item-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color_secondary;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.popup-menu__list-social {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 30px;
}
