@font-face {
  font-family: "Post No Bills Colombo";
  src: url(../fonts/postnobillscolombo-regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SeoulHangang";
  src: url(../fonts/SeoulHangang-Medium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
